.card{
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  margin: 1px;
  border:1px solid RGB(30,30,30);
  background: RGB(255,255,255);
  text-align: center;
}

.card img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  height: 100px;
  width: 100px;
  object-fit: cover;

}
