.card{
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  margin: 1px;
  border:1px solid RGB(30,30,30);
  border-radius: 5px 15px;
  background: RGB(180,180,180);
  text-align: center;
}

.card img {
  position: absolute;
  object-fit: cover;
  display: block;
  border-radius: 5px 15px;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;

}
